@charset "utf-8";

.text_center {
		text-align: center;
	}
	body {
		font-size: 17px;
		margin:0;
		padding:0;
	}
	h1 {
		font-size:30px;
	}
	table {
		border-collapse:collapse;
	}
	td {
		padding-top:10px;
		padding-bottom:10px;
		border: none;
	}
	input {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	a {
		text-decoration: none;
		color:black;
	}
	#onetable {
		border-radius: 10px;
		border:2px solid #ddd;
		padding:10px;
		margin-bottom: 15px;
		box-shadow: 1px 2px 5px 1px #ddd;
	}
	#notable {
		border-radius: 10px;
		border:2px solid #ddd;
		padding:10px;
		margin-bottom: 15px;
		box-shadow: 1px 2px 5px 1px #ddd;
		font-weight: bold;
		font-size: 18px;
		text-align: center;
	}
	.content {
		padding:10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.date {
		float:right;
	}
	.date span {
		padding-left:40px;
		padding-right: 40px;
	}
	.title {
		font-size:21px;
		font-weight: bold;
	}
	.btn {
		font-size:16px;
		padding:6 8 6 8;
		border:2px solid skyblue;
		border-radius: 5px;
		font-weight: bold;
	}
	.btn:hover {
		background-color:skyblue;
	}
	.result {
		font-weight: bold;
		padding:3px;
		background-color:#9287eb;
		border-radius: 15px;
	}
	#insert {
		background-color: #878feb;
		border:2px solid #ddd;
		border-radius: 7px;
		padding:10 40 10 40;
		font-weight: bold;
		color: white;
		margin-bottom:20px;
	}
		#insertbtn {
		background-color: white;
		border:2px solid white;
		border-radius: 7px;
		padding:10 40 10 40;
		font-weight: bold;
		color: white;
		margin-bottom:20px;
	}
	#insert:hover {
		cursor: pointer;
		background-color:gray;
	}
	.con {
		font-size: 18px;
		color:#a14646;
		padding-bottom: 5px;
		padding-top: 5px;
	}
	header {
		width:100%;
		height:60px;
		box-shadow: 3px -2px 3px 3px;
	}
	nav {
		width:60%;
		line-height:60px;
		margin:0 auto;
		text-align:right;
		display:flex;
	}
	.logbox a {
		padding:7px;
		border-radius:5px;
		background-color:gray;
		border:2px solid gray;
		color:white;
	}
	.logbox {
		margin-left:auto;
	}
	.logo {
		font-size:25px;
		font-weight:bold;	
	}
	.page {
		text-align:center;
		margin-bottom:20px;
	}
	.search {
		text-align:center;
		margin-bottom:30px;
	}
	#searchType {
		padding-bottom: 5px;
   		padding-top: 4px;
	}
	.search button {
		padding: 2 9 5 9;
		font-weight:bold;
	}
	.search button:hover {
		cursor:pointer;
	}
	.pagebtn {
		padding:6 10 6 10;
		background-color:white;
	}
	.pagebtn:hover {
		background-color: #ddd;
	}
	.thispage {
		padding:6 10 6 10;
		border:1px solid #ddd;
		background-color:#ddd;
	}
	.next:hover {
		color:skyblue;
	}
	
	footer {
		width:100%;
		height:80px;
		background-color:#ddd;
		box-shadow: -3px 1px 2px 2px #9d9090;
	}
	.footer {
		width:60%;
		line-height:80px;
		margin:0 auto;
		text-align:right;
		display:flex;
		font-size:18px;
		font-weight:bold;
	}
	
	
	
	
	